faiss --no-binary :all:
psutil --no-binary :all:
huggingface_hub --no-binary :all:
ia_cflags --no-binary :all:
ia_package --no-binary :all:
numpy --no-binary :all:
setuptools --no-binary :all:
PyInstaller --no-binary :all:
pydantic --no-binary :all:
Cython --no-binary :all:
requests --no-binary :all:
llama_cpp --no-binary :all: